/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@charset "utf-8";





/*------------------------------------------------------------------------------
------------------------------------ base----------------------------------------
--------------------------------------------------------------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: YuMincho,    /* Mac用 */
  'Yu Mincho', /* Windows用 */
  serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color:#333333;
  background-color: #fff;
  letter-spacing: 0.05em;
}
*,*::after,*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  scroll-behavior: smooth;
  line-height: 1.5;
  color: #333;
}





/*------------------------------------------------------------------------------
------------------------------------ 全体 ----------------------------------------
--------------------------------------------------------------------------------*/

main {
  margin: 0 auto;
}
.section-title {
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 300px;
  height: 300px;
  text-align: center;
  color: #fff;
  background-color: #333333;
  background-image: url(../images/works-title-bg-min.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  line-height: 300px;
  text-shadow: 0 0 5px #000;
}
.wider-space {
  margin-top: 200px;
}
.a-section-title {
  background-image: url(../images/about-title-bg-min.jpg);
}
.c-section-title {
  background-image: url(../images/contact-title-bg-min.jpg);
}
.sub-title {
  font-size: 4rem;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.sub-title::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 150px;
  width: 200px;
  height: auto;
  border-top: 1px solid #2EA9DF;
}
.sub-title:nth-of-type(2) {
  margin-top: 50px;
}

.link-t-a {
  position: relative;
  top: 0;
  display: block;
  }

.sa {
  opacity: 0;
  transition: all 2s ease;
}
.sa.show {
  opacity: 1;
  transform: none;
}
.sa--up {
  transform: translate(0, 100px);
}
/* .sa--scaleUp {
  transform: scale(.5);
} */
/*--------------------------------------------------
--------------- ローディングアニメーション-------------
----------------------------------------------------*/

/*== LoadingのためのCSS ==*/

/* Loading背景画面設定*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#000;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定*/
#splash_logo svg{
  max-width:300px;
}

/*= SVG操作手書き風にするためのCSS =*/

#mask .st0{
    fill:none;
    stroke:#fff;
    stroke-width:90;/*線の太さを指定する*/
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 1500; /* 線の間隔を指定する */
    stroke-dashoffset:1500; /* 線の位置を指定する */
}



/*------------------------------------------------------------------------------
-----------------------------------  ヘッダー -----------------------------------
--------------------------------------------------------------------------------*/

#header{
  width: 100%;
  height: 100px;
  position: fixed;
  padding-top: 30px;
  z-index: 5;
  background-color: #fff;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
}

/*
burger-btn
———————————*/
.burger-btn {
  width: 44px;
  height: 44px;
  position: relative;
  z-index: 15;
  display: none;
}
.bar {
  display: block;
  height: 3px;
  width: 44px;
  background-color: #333;
  position: absolute;
  border-radius: 3px;
  -webkit-transition: all  0.6s;
  -o-transition: all  0.6s;
  transition: all  0.6s;
}
.bar-top {
  top: 25%;
  -webkit-transform: translateY(-25%);
      -ms-transform: translateY(-25%);
          transform: translateY(-25%);
}
.bar-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bar-bottom {
  top: 75%;
  -webkit-transform: translateY(-75%);
      -ms-transform: translateY(-75%);
          transform: translateY(-75%);
}

/* クリック時の挙動 */
.bar.active {
  background-color: #fff;
}
.bar-top.active {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.bar-middle.active {
  opacity: 0;
}
.bar-bottom.active {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}


/*
nav
———————————*/
#nav {
  font-size: 2.0rem;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-item {
  margin-left: 60px;
  -webkit-transition: all 1.0s;
  -o-transition: all 1.0s;
  transition: all 1.0s;
  line-height: 1;
}
.nav-item a{
  color: #333;
  -webkit-transition: all 1.0s;
  -o-transition: all 1.0s;
  transition: all 1.0s;
  display: block;
}
.nav-item a:hover {
  border-bottom: 1px solid #333;
  -webkit-transition: all 1.0s;
  -o-transition: all 1.0s;
  transition: all 1.0s;
}


/*
play-btn
———————————*/

.play-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: 80px;
  margin-right: 40px;
}


/*
burger-menu
———————————*/

.burger-menu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  z-index: 10;
}
.burger-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.burger-item a{
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
}




/*------------------------------------------------------------------------------
---------------------------------------MV----------------------------------------
--------------------------------------------------------------------------------*/

#visual {
  position: relative;
  width: 100%;
  height: 100vh;
}
.movie {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movie video {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}



/*見出し設定*/
h1{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color:#fff;
    text-shadow: 0 0 5px #333;
    z-index: 1;
}




/*-------------------- scroll-btn -----------------------*/

/*スクロールダウン全体の場所*/
.scrolldown2{
    /*描画位置※位置は適宜調整してください*/
    position:absolute;
    bottom:25px;
    left:50%;
}

/*Scrollテキストの描写*/
.scrolldown2 span{
      /*描画位置*/
    position: absolute;
    left:10px;
    bottom:10px;
      /*テキストの形状*/
    color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    /*縦書き設定*/
    -ms-writing-mode: tb-rl;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
      content: "";
      /*描画位置*/
      position: absolute;
      bottom:0;
      left:-4px;
      /*丸の形状*/
    width:10px;
    height:10px;
    border-radius: 50%;
    background:#eee;
      /*丸の動き1.6秒かけて透過し、永遠にループ*/
    -webkit-animation:
      circlemove 3s ease-in-out infinite,
      cirlemovehide 3s ease-out infinite;
            animation:
      circlemove 3s ease-in-out infinite,
      cirlemovehide 3s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@-webkit-keyframes circlemove{
    0%{bottom:45px;}
   100%{bottom:-5px;}
}
@keyframes circlemove{
    0%{bottom:45px;}
   100%{bottom:-5px;}
}

/*上から下にかけて丸が透過→不透明→透過する*/
@-webkit-keyframes cirlemovehide{
    0%{opacity:0}
   50%{opacity:1;}
  80%{opacity:0.9;}
100%{opacity:0;}
}
@keyframes cirlemovehide{
    0%{opacity:0}
   50%{opacity:1;}
  80%{opacity:0.9;}
100%{opacity:0;}
}

/* 線の描写 */
.scrolldown2:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:0;
left:0;
  /*線の形状*/
width:2px;
height: 50px;
background:#eee;
}
/*------------------------------------------------------------------------------
---------------------------------------Message----------------------------------
--------------------------------------------------------------------------------*/

.message {
  margin-top: 200px;
  width: 100%;
  height: auto;
  text-align: center;
}
.fluid {
  width:10vh;/*横幅*/
  height: 10vh;/*縦幅*/
  background: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));/*背景色*/
  animation: fluidrotate 30s ease 0s infinite;/*アニメーションの設定*/
  margin: 0 auto;
  margin-bottom: 50px;
}

@keyframes fluidrotate {  
	  
0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
}
28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}
	  
}
.message p {
  font-size: 2.0rem;
  line-height: 3.0;
}

/*------------------------------------------------------------------------------
------------------------------------ works--------------------------------------
--------------------------------------------------------------------------------*/


#works {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 100px;
}
.works-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works-item {
  max-width: 350px;
  height: auto;
  margin-bottom: 50px;
  text-align: center;
}
.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.works-image-box {
  max-width: 100%;
  height: 300px;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  padding: 10px;
}
.works-image-box:hover {
  -webkit-box-shadow: 5px 5px #3a302d;
          box-shadow: 5px 5px #3a302d;
  -webkit-transform: translate(-0.3em,-0.3em);
      -ms-transform: translate(-0.3em,-0.3em);
          transform: translate(-0.3em,-0.3em);
  cursor: pointer;
}
.works-title {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 3px;
}
.works-cat {
  font-size: 1.2rem;
}
.link {
  color: #2EA9DF;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.detail-title {
  font-size: 3rem;
  margin-bottom: 50px;
  margin-top: 60px;
  border-left: 5px solid #2EA9DF;
  padding-left: 15px;
}


/* モーダルウィンドウ */
.modalArea,.modalArea2,.modalArea3 {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  width: 85%;
  height : 80%;
  overflow : auto;
  padding: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F0F3F7;
}
.modalWrapper2 ,.modalWrapper3{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  width: 70%;
  height: 70%;
  overflow : auto;
  padding: 20px;
  background-color: #F0F3F7;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modalContents {
  width: 68%;
  overflow: auto;
}
.modalContents2,.modalContents3 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  background-color: #fff;
}
.closeModal {
  position: absolute;
  top: 0;
  right: 1rem;
  cursor: pointer;
  color: #fff;
  font-size: 6.0rem;
}
.description-box{
  width: 35%;
  background-color: #fff;
  padding: 30px;
  overflow: auto;
  margin-left: 20px;
}
.description-box2,.description-box3 {
  width: 50%;
  background-color: #fff;
  margin-left: 20px;
  padding: 30px;

}
.d-box-list-left {
  width: 100%;
}
.d-box-list-right {
  width: 100%;
}
.description-box2 .d-box-list-left, .description-box2 .d-box-list-right {
  width: 100%;
}
.description-box3 .d-box-list-left, .description-box3 .d-box-list-right {
  width: 100%;
}
.description-box dt,.description-box2 dt ,.description-box3 dt{
  width: 100%;
  font-weight: bold;
  font-size: 1.8rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(50%, #ffff00));
  background: -o-linear-gradient(transparent 90%, #ffff00 50%);
  background: linear-gradient(transparent 90%, #ffff00 50%);
  display: inline;
}
.description-box dd,.description-box2 dd,.description-box3 dd{
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.with-ps {
  margin-bottom: 0;
}
.ps {
  font-size: 1.0rem;
}


/*------------------------------------------------------------------------------
---------------------------------- about -------------------------------------
--------------------------------------------------------------------------------*/

#about {
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 150px;
  position: relative;
  overflow: hidden;
}
.greeting {
  max-width: 85%;
  height: auto;
  line-height: 2.0;
  margin: 0 auto;
  font-size: 2.4rem;
  margin-bottom: 60px;
}
.greeting span {
  font-size: 5rem;
  line-height: 1;
}

/* ---------------------birdのアニメーション------------------- */
.bird {
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: moving 16s linear infinite;
          animation: moving 16s linear infinite;
  z-index: 50;
}
.bird.-type_2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.bird.-type_2:before,
.bird.-type_2:after {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.bird.-type_3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes moving {
  0% {
    top: 10px;
    left: -2vw;
  }
  25% {
    top: 100px;
    left: 23vw;
  }
  100% {
    top: 80px;
    left: 100%;
  }
}

@keyframes moving {
  0% {
    top: 10px;
    left: -2vw;
  }
  25% {
    top: 100px;
    left: 23vw;
  }
  100% {
    top: 80px;
    left: 100%;
  }
}

.bird:before, .bird:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #333;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
}

.bird:before {
  width: 100%;
  height: 1px;
  -webkit-animation: leftWing 8s linear infinite;
          animation: leftWing 8s linear infinite;
}
.bird:after {
  width: 1px;
  height: 100%;
  -webkit-animation: rightWing 8s linear infinite;
          animation: rightWing 8s linear infinite;
}

@-webkit-keyframes leftWing {
  0%   { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  2%   { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  4%   { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  6%   { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  8%   { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  10%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  12%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  30%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  42%  { -webkit-transform: rotate(-35deg); transform: rotate(-35deg); }
  72%  { -webkit-transform: rotate(-35deg); transform: rotate(-35deg); }
  74%  { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
  76%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  78%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  80%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  82%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  84%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  86%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  88%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  90%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  92%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  94%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  96%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  98%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  100% { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
}

@keyframes leftWing {
  0%   { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  2%   { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  4%   { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  6%   { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  8%   { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  10%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  12%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  30%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  42%  { -webkit-transform: rotate(-35deg); transform: rotate(-35deg); }
  72%  { -webkit-transform: rotate(-35deg); transform: rotate(-35deg); }
  74%  { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
  76%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  78%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  80%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  82%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  84%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  86%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  88%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  90%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  92%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  94%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  96%  { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
  98%  { -webkit-transform: rotate(-110deg); transform: rotate(-110deg); }
  100% { -webkit-transform: rotate(-30deg); transform: rotate(-30deg); }
}

@-webkit-keyframes rightWing {
  0%   { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  2%   { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  4%   { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  6%   { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  8%   { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  10%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  12%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  30%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  42%  { -webkit-transform: rotate(35deg); transform: rotate(35deg); }
  72%  { -webkit-transform: rotate(35deg); transform: rotate(35deg); }
  74%  { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  76%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  78%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  80%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  82%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  84%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  86%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  88%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  90%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  92%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  94%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  96%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  98%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  100% { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
}

@keyframes rightWing {
  0%   { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  2%   { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  4%   { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  6%   { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  8%   { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  10%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  12%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  30%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  42%  { -webkit-transform: rotate(35deg); transform: rotate(35deg); }
  72%  { -webkit-transform: rotate(35deg); transform: rotate(35deg); }
  74%  { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  76%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  78%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  80%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  82%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  84%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  86%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  88%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  90%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  92%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  94%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  96%  { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
  98%  { -webkit-transform: rotate(110deg); transform: rotate(110deg); }
  100% { -webkit-transform: rotate(30deg); transform: rotate(30deg); }
}


.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.a-flex-left {
  width: 40%;
  margin-right: 60px;
}

.image-box {
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.image-desc {
  margin-bottom: 100px;
}
.image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}



.a-flex-right {
  width: 40%;
}
.profile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
dt {
  width: 10%;
  font-weight: bold;
}
.date {
  width: 30%;
  padding-bottom: 15px;
}
.event {
  width: 60%;
}
.qualification {
  width: 90%;
  padding-bottom: 15px;
}



.ac-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ac-title {
  width: 13%;
  font-weight: bold;
  margin-right: 20px;
}
.ac-box {
  width: 80%;
}
.ac-content {
  display: none;
  font-size: 1.5rem;
}
.ac-menu {
  cursor: pointer;
  margin-bottom: 5px;
  list-style-type: disc;
}
.ac-menu:last-of-type {
  margin-bottom: 0;
}


.bold {
  font-weight: bold;
}
.marker-yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(50%, #ffff00));
  background: -o-linear-gradient(transparent 90%, #ffff00 50%);
  background: linear-gradient(transparent 90%, #ffff00 50%);
  }
.click-here {
  position: relative;
}
.click-here::before {
  content: '↓CLICK HERE!';
  color: tomato;
  position: absolute;
  top: -20px;
  font-size: 1.2rem;
  pointer-events: none;
  -webkit-animation: poyopoyo 2s ease-out infinite;
          animation: poyopoyo 2s ease-out infinite;

}
@-webkit-keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
  50%, 70% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
@keyframes poyopoyo {
  0%, 40%, 60%, 80% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
  }
  50%, 70% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}


/* ----------------skill------------------ */


.skill-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 180px;
}

.s-item-image-box{
  width: 100px;
  height: 100px;
}

.s-item-title {
  font-weight: bold;
  line-height: 1;
  font-size: 1.8rem;
}
.s-item-text {
  max-width: calc(100% - 100px);
  padding: 0 20px;
}

.star {
  margin-top: 5px;
  margin-bottom: 5px;
}





/*--------------------------------------------------------------------
------------------------------ contact -------------------------------
----------------------------------------------------------------------*/

#contact {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 100px;
  overflow: hidden;
  text-align: center;
}
.contact-text {
  margin-bottom: 60px;
}
.demo_item{
  width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url(../images/contact-btn-image.png);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}
.demo_item.anime{
    -webkit-animation-name: upDown;
            animation-name: upDown;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 0.1s;
            animation-duration: 0.1s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: steps(2);
            animation-timing-function: steps(2);
    -webkit-transition-duration: .3s;
         -o-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.demo_stage{
    position: relative;
    width: 100%;
    height: 65px;
    top: 0px;
    display: block;
    border-bottom: solid #2EA9DF 1px;
}

.demo_wrap{
  display: block;
  position: absolute;
  top: 20px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  margin-right: -25px;
}
.demo_wrap::after {
  content: "＼click me!／";
  position: absolute;
  top: -20px;
  left: -25px;
  width: 120px;
}

.demo_wrap[data-order="left"] {
  -webkit-animation-name: GoLeft;
          animation-name: GoLeft;
}
.demo_wrap[data-order="right"] {
  -webkit-animation-name: GoRight;
          animation-name: GoRight;
}

[data-order="right"] > .demo_item {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes GoLeft {
  0% {
      right: 10%;
  }
  100% {
      right: 90%;
  }
}

@keyframes GoLeft {
  0% {
      right: 10%;
  }
  100% {
      right: 90%;
  }
}
@-webkit-keyframes GoRight {
  0% {
      right: 90%;
  }
  100% {
      right: 10%;
  }
}
@keyframes GoRight {
  0% {
      right: 90%;
  }
  100% {
      right: 10%;
  }
}

/*-------------------------------------------------------------------------
---------------------------------フッターー--------------------------------
-----------------------------------------------------------------------------*/
#footer {
  width: 100%;
  height: 100px;
  position: relative;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
}


canvas{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  }
small {
  font-size: 1.2rem;
}


/*-------------------------------------------------------------------------
---------------------------------レスポンシブ--------------------------------
-----------------------------------------------------------------------------*/




/*-------------------------------- width1000px以下時の挙動-------------------------------------- */


@media (max-width:1000px) {
  /* モーダルウィンドウ */
  .modalWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
    padding: 10px;
  }
  .modalContents {
    width: 100%;
    height: 80%;
  }
  .description-box {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    height: 40%;
    padding: 15px;
  }
  .link {
    bottom:10px;
  }


  .modalWrapper2,.modalWrapper3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 85%;
    width: 80%;
    padding: 10px;
  }
  .modalContents2,.modalContents3 {
    width: 100%;
    height: 80%;
  }
  .description-box2,.description-box3 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    padding: 15px;
  }

}



/*-------------------------------- width768px以下時の挙動-------------------------------------- */



@media (max-width:768px) {

    /* -------全体--------- */
    .section-title {
      height: 150px;
      line-height: 150px;
      font-size: 4rem;
      background-attachment: initial;
    }
    .sub-title {
      margin-bottom: 50px;
    }
    .c-section-title {
      margin-top: 0;
    }


    /* ------header------- */
    #header {
      padding-top: 0;
      height: 80px;
    }

    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      right: 0;
      top: 20px;
    }
    .play-btn {
      margin-right: 20px;
      margin-left: 20px;
    }


    /*
    burger-btn
    ———————————*/
    .burger-btn {
      display: block;
    }

    /*
    nav
    ———————————*/
    #nav {
      display: none;
    }

    /* クリック時 */




    /* -----------mv----------- */
    h1 {
      width: 100%;
    }


    /* -----------works----------- */
    #works {
      padding-top: 0;
    }
    .d-box-list-left {
      width:100%;
    }
    .d-box-list-right {
      width: 100%;
    }

    .modalWrapper {
      height: 90%;
    }
    .modalWrapper2  {
      width: 100%;
    }
    .closeModal {
      position: absolute;
      top: 0;
      right: 1rem;
      cursor: pointer;
      color: #fff;
      font-size: 3.0rem;
    }
    .description-box dt,.description-box2 dt ,.description-box3 dt {
      font-size: 1.5rem;
    }
    .description-box dd,.description-box2 dd,.description-box3 dd{
      margin-top: 5px;
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: 1.4rem;
    }
    .link {
      bottom: 5px;
    }
    .works-item:nth-of-type(7)>.works-image-box {
      width: 100%;
      height: 80%;
    }


    /* -----------about----------- */
    .greeting {
      max-width: 100%;
      height: auto;
      line-height: 1.7;
      margin: 0 auto;
      font-size: 1.8rem;
      margin-bottom: 60px;
    }
    .greeting span {
      font-size: 3rem;
      line-height: 1;
    }
    .about-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    .a-flex-left  {
      width: 100%;
      margin-right: 0;
    }
    .a-flex-right  {
      width: 100%;
    }
    /* about-skill*/
    .skill-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .skill-item {
      width: 100%;
      margin-bottom: 20px;
      min-height: 160px;
    }
    .s-item-text {
      padding-right: 0;
    }
    /* contact*/
    #contact {
      padding-top: 100px;
    }

    /* footer */
    #footer {
      padding-top: 100px;
      padding-bottom: 32px;
    }
}
/*-------------------------------- width500px以下時の挙動-------------------------------------- */

@media (max-width:500px) {
  .unable-br {
    display: none;
  }
  .message p {
    padding: 0 16px;
  }
}
